<h1 class="center">Comics List</h1>

<table class="centered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Publisher</th>
      <th>Issue Number</th>
      <th>view</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody class="white">
    <% @comics.each do |comic| %>
      <tr>
        <td><span style="font-weight:bold"><%= comic.title %></span></td>
        <td><span style="font-weight:bold"><%= comic.publisher %></span></td>
        <td><span style="font-weight:bold"><%= comic.issue %></span></td>
        <td><a href="/comics/<%= comic.id %>">View</a></td>
        <td><a href="/comics/<%= comic.id %>/edit">Edit</a></td>
        <td>
          <form action="/comics/<%= comic.id %>" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="delete" class="btn blue">
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
